<!DOCTYPE html>
{% load static %}
{% load client_version %}
<html class="msgapi" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'fonts/montserrat.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'mapstore/dist/themes/geonode.css' %}?{% client_version %}" rel="stylesheet"/>
    <title>{{ SITE_NAME }}</title>
    <link rel="shortcut icon" href="{% static 'geonode/img/favicon.ico' %}"/>
    {% include './geonode-mapstore-client/snippets/loader_style.html' %}

    {% block custom_theme %}
        {% include './geonode-mapstore-client/snippets/custom_theme.html' %}
    {% endblock %}

    {% block extra_style %}
    {% endblock %}

    {% block extra_head %}
    {% endblock %}
</head>
<body class="msgapi ms2" data-ms2-container="ms2">
<div class="gn-page-wrapper {% if request.user_agent.is_mobile %}gn-mobile{% else %}gn-desktop{% endif %}">
    <div class="gn-theme gn-homepage">
        {% include './geonode-mapstore-client/_geonode_config.html' %}
        {% block header %}
            {% include './geonode-mapstore-client/snippets/header.html' with show_hero=True %}
        {% endblock %}

        {% block content %}
            <div class="big-search">
                <div class="container">

            <!-- leave commented <h1>Search for Data.</h1>  -->
                  <div class="search">
                    {% include './geonode-mapstore-client/snippets/search_bar.html' with search_bar_id='gn-search-bar' %}
                  </div>

            <!--  leave commented <p><a class="btn btn-default btn-lg" href="/search/">Advanced Search</a></p> -->
                </div>
              </div>

            <div class="container-fluid" style="background-color: white;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <h2 style="font-size: 3em;
                            position: relative;
                            z-index: 0;
                            font-weight: 900;
                            text-transform: uppercase;">
                                RECURSOS <span style="color:#86A438">NATURALES</span>
                            </h2>
                            <h3 class="text-right" style="color: rgba(30, 37, 48, 0.04); font-size: 10em; text-align: right; letter-spacing: 10px;
                            line-height: 0.7; transform: translateY(-70%); z-index: -1; font-weight: 900;">
                                BIODIVERSIDAD.
                            </h3>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    <p class="text-center text-muted align-middle" style="font-size: 14px;
                                    font-style: italic;
                                    line-height: 24px;  padding:27px 30px 29px 2px; margin-top: -10%;">
                                        Se entiende por Diversidad Biológica a la variabilidad de organismos vivos de
                                        cualquier fuente, incluidos, entre otros, los ecosistemas terrestres y marinos y
                                        otros ecosistemas acuáticos, así como los complejos ecológicos de los que forman
                                        parte; comprende la diversidad a nivel de ecosistemas, especies y genes.
                                    </p>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img alt="Bootstrap Image Preview"
                                                src="https://topadventure.com/__export/1642790412177/sites/laverdad/img/2022/01/21/santuario_mariposa_monarca_portada.jpg_1937082546.jpg"
                                                class="img-fluid " style="margin-left: auto;
                                            margin-right: auto; border-radius: 50%;
                                            display: block; width: 70%;" />
                                        </div>
                                        <div class="col-md-8">
                                            <br>
                                            <p class="text-right text-muted align-middle" style="font-size: 14px;
                                            font-style: italic; text-align: left;
                                            ">
                                                Guanajuato es el estado en el que se juntan las rutas migratorias de
                                                mariposa
                                                monarca que
                                                van al estado de México y Michoacán a pasar el invierno..
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <br>
                                            <h6 class="text-center" style="font-size: .9em;">
                                                Mariposa Monarca
                                            </h6>
                                        </div>
                                        <div class="col-md-8">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <br>
                                            <p class="text-right text-muted" style="font-size: 14px;
                                            font-style: italic; text-align: right;
                                            ">
                                                La biodiversidad es la base del sustento material de los pueblos y fuente de
                                                diversos bienes
                                                y servicios ecológicos.
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <img alt="Bootstrap Image Preview"
                                                src="https://gluc.mx/u/fotografias/m/2020/5/11/f638x638-26848_85015_5050.jpg"
                                                class="img-fluid " style="margin-left: auto;
                                            margin-right: auto; border-radius: 50%;
                                            display: block; width: 70%;" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                        </div>
                                        <div class="col-md-4">
                                            <br>
                                            <h5 class="text-center" style="font-size: .9em;">

                                                Inventario de Especies Vegetales
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            {% comment %}
                <!-- example of content extension -->
                <div class="gn-container">
                    <div class="gn-content">
                        <!-- My custom content -->
                    </div>
                </div>
            {% endcomment %}
            <!--div class="gn-container">
                <div id="gn-home-featured-resources-grid"></div>
                <div id="gn-home-resources-grid"></div>
            </div-->
        {% endblock %}

        {% block container %}
            <div id="ms-container">
                <div class="gn-main-event-container">
                    <div class="gn-main-event-content">
                        <div class="gn-main-loader"></div>
                        <div class="gn-main-event-text"></div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <script>
            /*window.addEventListener('mapstore:ready', function (event) {
                const msAPI = event.detail;
                msAPI.setPluginsConfig([
                    {
                        name: 'FeaturedResourcesGrid',
                        cfg: {
                            targetSelector: '#gn-home-featured-resources-grid',
                            pagePath: '/catalogue/'
                        }
                    },
                    {
                        name: 'ResourcesGrid',
                        cfg: {
                            targetSelector: '#gn-home-resources-grid',
                            containerSelector: '#gn-home-resources-grid',
                            pagination: false,
                            pagePath: '/catalogue/',
                            disableFilters: true,
                            disableDetailPanel: true,
                            enableGeoNodeCardsMenuItems: true
                        }
                    },
                    {name: 'SaveAs', cfg: {closeOnSave: true}},
                    {name: 'DeleteResource'},
                    {name: 'DownloadResource'},
                    {name: 'Notifications'}
                ]);
            });*/
        </script>

        {% block ms_scripts %}
            <script id="gn-script" src="{% static 'mapstore/dist/js/gn-components.js' %}?{% client_version %}"></script>
        {% endblock %}

        {% block footer %}
            {% include './geonode-mapstore-client/snippets/footer.html' %}
        {% endblock %}

        {% block scripts %}
            <script src="{% static "lib/js/jquery.min.js" %}"></script>
            <script src="{% static "lib/js/bootstrap.min.js" %}"></script>
            <script type="text/javascript">
                // enable dropdown functionalities
                $('.dropdown-toggle').dropdown();
            </script>
        {% endblock %}
    </div>
</div>
</body>
</html>
