<style type="text/css">
    .masfoot {
        text-align: left;
    }

    .masfoot a {
        color: white;
        cursor: pointer;
    }

    .masfoot {
        background-color: #dce3f3;
        color: #000ea7;
        padding: 20px 0 0px 0;
    }

    .masfoot .logo-foot {
        padding: 0 20px;
        text-align: center;
    }

    .masfoot .address {
        padding: 20px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .masfoot .logo-foot img {
        display: inline-block;
        width: 54px;
        margin-bottom: 20px;
    }

    .masfoot .social {
        text-align: center;
    }

    .masfoot .social a {
        background-color: #001F8A;
        border-radius: 40px;
        display: inline-block;
        margin: 0px 10px;
        padding: 5px;
    }

    .masfoot .social a .fa {
        font-size: 1.0625rem;
    }

    .masfoot .legal {
        color: #000;
        font-size: 0.75rem;
        font-weight: 600;
        margin-top: 20px;
        text-align: center;
    }

    .masfoot .row {
        width: 100%;
        margin-bottom: 0px;
        max-width: 1600px;
        margin: 0 auto;
    }

    .masfoot .row .col-sm-3 {
        padding: 20px 45px;
    }

    .masfoot .row .col-sm-3 i {
        font-size: 1.2rem;
    }

    .masfoot .row .col-sm-3 a {
        color: #000ea7;
        cursor: pointer;
    }

    .masfoot .row .col-sm-3 label {
        width: 100%;
        cursor: pointer;
        font-weight: 600;
    }

    .mgt-2 {
        padding-top: 20px !important;
    }

    .mgt-4 {
        padding-top: 60px !important;
    }

    .mgb-4 {
        margin-bottom: 20px;
        padding-left: 42px !important;
    }

    .masfoot .row .col-sm-3 > label:first-of-type {
        font-weight: bolder;
        font-family: 'Proxima Nova Bold';
    }

    .masfoot .row .col-sm-3 .marginb-t {
        margin-bottom: 20px;
    }

    .masfoot .row .col-sm-3 img {
        width: 100%;
        max-width: 260px;
    }

    .masfoot .row .naranja-icons i {
        color: #000ea7;
    }

    .masfoot i {
        margin-right: 10px;
    }

    .masfoot .row .col-sm-4 {
        padding: 20px 45px;
    }

    .masfoot .address {
        width: 33.18%;
        padding: 0px;
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .masfoot .container {
        width: 100%;
    }

    @media (max-device-width: 480px) {
        .masfoot .address {
            width: 99%;
        }
    }
</style>
<footer class="masfoot">


    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 naranja-icons">
                <img class="mt-3" src="img/logo_2022.png" style="    max-width: 100%;margin: 20px 0px;">
                <label class="marginb-t mgt-2">ATENCIÓN CIUDADANA</label>
                <label><i class="fas fa-phone"></i> 473 735 2600</label>
                <!-- <label><i class="fab fa-whatsapp"></i> 477 274 5825</label> -->
                <label><i class="fas fa-envelope"></i> <a class="reporte_a" href="mailto:smaot@guanajuato.gob.mx">smaot@guanajuato.gob.mx</a></label>

            </div>
            <div class="col-xs-12 col-sm-3">
                <img src="img/igualdad.png" style="max-width: 99px;margin-bottom: 20px;">
                <label class="marginb-t mgt-2">NUESTRA SEDE</label>
                <p><a href="https://goo.gl/maps/JJc97bb9bJVKLXEE8" target="_blank">
                <p><i class="fas fa-map-marker-alt"></i> Aldana 12 esq. República Mexicana,<br/>
                    Col. Pueblito de Rocha, C.P. 36040<br/>
                    Guanajuato, Guanajuato, México</p><br/>
                <p><a href="https://goo.gl/maps/UGwhUWXU3sasRgSR6" target="_blank">
                <p><i class="fas fa-map-marker-alt"></i> Conjunto Administrativo Pozuelos<br/> Vialidad 1 s/n,<br/>
                    Col. Centro, C.P. 36000<br/>
                    Guanajuato, Guanajuato, México</p><br>


            </div>
            <div class="col-xs-12 col-sm-3 mgt-4">
                <label class="marginb-t">UNIDAD DE TRANSPARENCIA Y ARCHIVOS DEL PODER EJECUTIVO</label>

                <p>
                    <a href="https://transparencia.guanajuato.gob.mx/transparencia/informacion_publica_micrositio.php?dependencia=125"
                       target="_blank" rel="noopener"><label style="cursor: pointer !important;">·
                        Directorio</label></a><br>
                    <a href="https://transparencia.guanajuato.gob.mx/transparencia/informacion_publica_estructura.php"
                       target="_blank" rel="noopener"><label style="cursor: pointer !important;">· Estructura
                        orgánica</label></a><br>
                    <a href="https://transparencia.guanajuato.gob.mx/transparencia/informacion_publica_tabulador.php"
                       target="_blank" rel="noopener"><label style="cursor: pointer !important;">· Tabulador de
                        sueldos</label></a><br>
                    <a href="https://transparencia.guanajuato.gob.mx/transparencia/informacion_publica_metas.php"
                       target="_blank" rel="noopener"><label style="cursor: pointer !important;">· Indicadores y
                        metas</label></a><br>
                    <a href="https://strc.guanajuato.gob.mx/auditoriaspracticadas/" target="_blank"
                       rel="noopener"><label style="cursor: pointer !important;">· Auditorías</label></a><br>
                    <a href="https://transparencia.guanajuato.gob.mx//acceso_informacion/solicitudes.php"
                       target="_blank" rel="noopener"><label style="cursor: pointer !important;">· Solicitudes
                        respondidas</label></a><br>
                    <a href="http://portaldgi.guanajuato.gob.mx/CuentaPublica/public/main" target="_blank"
                       rel="noopener"><label style="cursor: pointer !important;">· Cuenta pública</label></a><br>
                    <a href="https://transparencia.guanajuato.gob.mx/conocenos/aviso_privacidad.php" target="_blank"
                       rel="noopener"><label style="cursor: pointer !important;">· Aviso de privacidad integral</label></a>
                </p>

            </div>
            <div class="col-xs-12 col-sm-3 mgt-4">
                <label class="marginb-t">SÍGUENOS EN NUESTRAS REDES</label>

                <a href="https://www.facebook.com/MAmbienteGTO" target="_blank" rel="noopener"><label class="marginb-t"><i
                        class="fab fa-facebook-square"></i> @MAmbienteGTO</label></a><br>
                <a href="https://twitter.com/m_ambientegto" target="_blank" rel="noopener"><label class="marginb-t"><i
                        class="fab fa-twitter"></i> @M_AmbienteGto</label></a>
                <!-- <a href="https://www.youtube.com/channel/UCdt5yCb992MlohnJQJa6S9A"><label class="marginb-t"><i class="fab fa-youtube"></i> @gobiernogto</label></a>
                <a href="https://www.tiktok.com/@gobiernogto"><label class="marginb-t"><i class="fab fa-tiktok"></i> @gobiernogto</label></a>
                <a href="https://open.spotify.com/show/3BCN6UEq9kD7HWtWJd9yNg?si=6H7bP1ReQSC7Qygd7x1nBQ"><label class="marginb-t"><i class="fab fa-spotify"></i> @gobiernogto</label></a> -->

            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 mgb-4">
                <img class="mt-3" src="img/reportar.png" style="width: 20px;">
                ¿Existe algún problema con esta página? <a class="reporte_a" href="mailto:soporte@guanajuato.gob.mx">Repórtalo
                aquí.</a>
            </div>
            <div class="col-xs-12 col-sm-6 mgb-4">
                <a class="reporte_a" href="https://smaot.guanajuato.gob.mx/sitio/upload/Aviso_Privacidad.pdf">Aviso de
                    privacidad </a>&nbsp;&nbsp; © 2022 Gobierno del Estado de Guanajuato
            </div>
        </div>
    </div>

</footer>